@{
    ViewData["Title"] = "Sdcb.PaddleOCR demo";
}

<form action="/ocr" class="dropzone" id="ocr-file-form"></form>
<div id="result"></div>
<div id="time-ms"></div>

@section scripts {
    <script>
        Dropzone.autoDiscover = false;
        let myDropzone = new Dropzone("#ocr-file-form", {
            addRemoveLinks: true,
            dictDefaultMessage: "拖拽文件到此处上传或点击此处上传文件",
            success: function (file, response) {
                document.getElementById("result").innerText = response.text;
                document.getElementById("time-ms").innerText = response.elapsedMs;
            }
        });
    </script>
}

@section styles {
    <style>
        #ocr-file-form {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .dropzone {
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        [role="main"] {
            min-height: 80vh;
        }
    </style>
}